.nav {
    grid-area: n;
    background-color: #e6f3ff;
    padding: 5px 10px;
}

.item a {
    color: black;
    text-decoration: none;
}

.item a.active {
    color: #686b6e;
    font-weight: bold;
}
