.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    border: 1px solid #a4c2dd;
    border-radius: 5px;
    height: 100%;
}

.dialogs_items {
    padding: 10px;
    border-right: 1px solid #a4c2dd;
}

.dialog {

}

.dialog .item {

}

.dialog .active {
    color: #995900;
}