.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogs_items {
    padding: 10px;
}

.dialog {

}

.dialog .item {

}

.dialog .active {
    color: #995900;
}

.messages {
    padding: 10px;
}

.message {

}