.item {
    display: flex;
    gap: 15px;
    padding: 5px;
}

.avatar {
    height: 50px;
    border-radius: 50%;
}

.content_block {

}

.content {

}

.like {

}

.grade {
    display: flex;
    gap: 5px;
}